Skip to content
This repository
Search
Pull requests
Issues
Gist
 @ashisht99x
 Watch 1,634
  Star 36,812
 Fork 14,085 github/gitignore
 Code  Pull requests 131  Pulse  Graphs
Branch: master Find file Copy pathgitignore/Objective-C.gitignore
548e76c  11 days ago
@wolffan wolffan Add injection folder to ignore
43 contributors @KrauseFx @arcresu @kylef @jspahrsummers @pingwinator @aroben @modocache @Coeur @czechboy0 @msgerbush @mattrubin @nrbrook @stuffmc @matzew @soffes @yanniks @rentzsch @riosc @stig @victorgama @intabulas @evfemist @3lvis @alloy @d2s @OliverLetterer and others
RawBlameHistory     61 lines (49 sloc)  1.31 KB
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the 
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/screenshots

#Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode
